@import "../../responsive.scss";

.layout{
    height: 100vh;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;

    @include lg{
        // background-color: yellow;
        max-width: 1280px;
    }
    @include md{
        // background-color: green;
        max-width: 768px;
    }
    @include sm{
        // background-color: red;
        max-width: 640px;
    }

    .content{
        height: calc(100vh - 100px);
    }
}